<h1>Hello Login</h1>


<div class="row">
  <form class="col s12" action="/login" method="post">

    <div class="row">
      <div class="input-field col s4"></div>
      <div class="input-field col s4">
        <input id="username" type="text" class="validate" name="username">
        <label for="username">Username</label>
      </div>
      <div class="input-field col s4"></div>
    </div>

    <div class="row">
      <div class="input-field col s4"></div>
      <div class="input-field col s4">
        <input id="password" type="password" class="validate" name="password">
        <label for="password">Password</label>
      </div>
      <div class="input-field col s4"></div>
    </div>

    <div class="row">
      <div class="input-field col s4"></div>
      <div class="col s4">
        <label>Select</label>
        <select class="browser-default" name="category">
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Instructor</option>
          <option value="2">Student</option>
        </select>
      </div>
      <div class="input-field col s4"></div>
    </div>

    <div class="row">
      <div class="input-field col s4"></div>
      <div class="input-field col s4">

        {{#if msg}}
          <h6>{{msg}}</h6>
          </br>
        {{/if}}

        <button class="btn waves-effect waves-light" type="submit" name="action">Login</button>
        <div class="spacer">
          <br />
        </div>
        <a href="/register"><button class="btn">Need to register? Click here!</button></a>
      </div>
      <div class="input-field col s4"></div>
    </div>
  </form>
</div>